#_s_article_rep
  s_article_rep
    s_index_article_rep
      div.article-rep-item
        a(class='category' href='[##_article_rep_category_link_##]') [##_article_rep_category_##]
        a(class='title' href='[##_article_rep_link_##]') [##_article_rep_title_##]
        s_article_rep_thumbnail
          a(class='thumbnail' style="background-image: url('[##_article_rep_thumbnail_url_##]');" href="[##_article_rep_category_link_##]")
        a(class='summary' href='[##_article_rep_link_##]') [##_article_rep_summary_##]
    s_permalink_article_rep
      article.article-single
        h1.article-title [##_article_rep_title_##]
        div.article_rep_desc [##_article_rep_desc_##]
        