nav [##_blog_menu_##]

style.
  header > nav {
    margin-top: 35px;
  }
  header > nav ul {
    list-style: none
  }
  header > nav ul li {
    margin: 0 15px;
    display: inline-block;
  }
  header > nav ul li a {
    font-size: 1.05em;
    font-weight: 300;
    text-decoration: none;
    color: black;
    transition-duration: 0.3s;
  }
  header > nav ul li a:hover {
    color: #ed5207;
  }
