@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding:400,700|Noto+Sans+KR:400,700&display=swap&subset=korean');

/* VARIABLE */
$article_width: 650px;
$sidebar_width: 200px;

$breakpoints: (
    'l': (min-width: ($article_width + $sidebar_width + 2px)),
    'm': "(min-width: #{$article_width + 1px}) and (max-width: #{$article_width + $sidebar_width + 2px})",
    's': (max-width: ($article_width + 1px))
);
/* MIXIN */
@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(
      type-of($raw-query) == 'string',
      unquote($raw-query),
      inspect($raw-query)
    );

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
         + 'Please make sure it is defined in `$breakpoints` map.';
  }
}

/* FONT */
body, .ss_codeblock_menubar {font-family: 'Noto Sans KR', sans-serif;}
pre, code {font-family: 'Nanum Gothic Coding', monospace;}

/* TAG */
a {
    color: rgba($color: #000000, $alpha: 0.85);
    text-decoration: none;
}
input[type=text],
input[type=password] {
    border-radius: 0.3em;
    border: 1px solid #AAAAAA;
    padding: 0.1em 0.2em;
    box-sizing: border-box;
    width: 100%;
    margin-top: 0.3rem;
    &:focus, &:valid {
        box-shadow: none;
        outline: none;
    }
}
input[type=submit] {
    cursor: pointer;
    margin: 0.3em 0;
    height: 2rem;
    color: rgba(255,255,255,0.8);
    background: #0277BD;
    font-size: 1rem;
    border-radius: 0.4rem;
    border: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    &:focus, &:valid {
        outline: none;
    }
}
textarea {
    width: 100%;
    min-height: 3em;
    box-sizing: border-box;
    border-radius: 0.3em;
    border: 1px solid #AAAAAA;
    padding: 0.2em 0.2em;
    &:focus, &:valid {
        box-shadow: none;
        outline: none;
    }
}

/* CLASS::LAYOUT */
.s-hidden {
    @include respond-to("s") {display: none;}
}
.m-hidden {
    @include respond-to("m") {display: none;}
}
.l-hidden {
    @include respond-to("l") {display: none;}
}

/* LAYOUT::BASIC */
header {
    // border-bottom: rgba(0,0,0,0.23) solid 2px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 2rem;
    background: rgba($color: #FFFFFF, $alpha: 0.85);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    z-index: 3;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    li {
        float: left;
        padding: 0.2rem;
    }  
    .title {
        font-weight: bold;
        float: right;
        font-size: 1em;
        margin: 0;
    }
}
div#background_overlay {
    position: fixed;
    display: none;
    opacity: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba($color: #000000, $alpha: 0.6);
    &.active {
        opacity: 1;
        display: block;
        animation: overlay_active 0.2 ease-in-out;
    }
    @keyframes overlay_active {
        0% {opacity: 1;}
        100% {opacity: 0;}
    }
}
div#to_top_button {
    display: none;
    position: fixed;
    font-size: 1.4rem;
    bottom: 0.6rem;
    right: 0.4rem;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 0.5rem;
    text-align: center;
    vertical-align: middle;
    background: #FFFFFF;
    border: 1px #DDD solid;
    z-index: 2;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    &.active {
        display: block;
    }
}
aside {
    position: fixed;
    left: -$sidebar_width;
    top: 0;
    bottom: 0;
    width: $sidebar_width;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 100;
    background: rgba($color: #FFFFFF, $alpha: 0.95);
    transition: 0.2s ease-in-out left;
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        list-style: none;
    }
    .nav_menu {
        margin-top: 0.5em;
        margin-bottom: 1em;
        font-weight: bold;
        li {padding: 0.2rem 0.5rem}
    }
    .nav_category {
        font-size: 0.9em;
        a {
            display: inline-block;
            padding: 0.2rem 0.5rem;
        }
        a.link_tit {
            font-weight: bold;
        }
        a.link_sub_item {
            margin-left: 0.7rem;
        }
    }
    &.active {
        left: 0;
    }
}
main {
    overflow: hidden;
    padding-top: 2.5rem;
}

/* LAYOUT::BASIC::RESPOND */
@include respond-to("m") {
    body {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-areas:
        "header header" "main side" "footer footer";
    }
    header {
        grid-area: header;
        position: inherit;
        overflow-x: hidden;
        box-shadow: none;
    }
    main {
        grid-area: main;
        max-width: $article_width;
        padding-top: 0.3rem;
    }
    aside {
        grid-area: side;
        position: inherit;
        background: transparent;
        z-index: 0;
    }
    footer {
        grid-area: footer;
        z-index: 0;
    }
    div#to_top_button {
        bottom: 2rem;
        right: 2rem;
    }
}
@include respond-to("l") {
    body {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-areas:
        "header header" "main side" "footer footer";
    }
    header {
        grid-area: header;
        position: inherit;
        overflow-x: hidden;
        box-shadow: none;
    }
    main {
        grid-area: main;
        width: $article_width;
        padding-top: 0.3rem;
        justify-self: center;
    }
    aside {
        grid-area: side;
        position: inherit;
        background: transparent;
        z-index: 0;
        min-width: $sidebar_width;
        width: auto;
    }
    footer {
        grid-area: footer;
        z-index: 0;
    }
    div#to_top_button {
        bottom: 2rem;
        right: 2rem;
    }
}

/* LAYOUT::ARTICLE */
.index_item {
    padding: 0.3rem 0.4rem;
    border-bottom: dashed 1px rgba($color: #000000, $alpha: 0.3);
    &.article_item {
        display: grid;
        grid-template-areas:
        "title" "category" "desc";
    }
    .title {
        grid-area: title;
        font-weight: bold;
        font-size: 1em;
    }
    .category {
        grid-area: category;
        text-align: right;
        font-size: 0.7em;
    }
    .thumbnail {
        grid-area: thumbnail;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .desc {
        grid-area: desc;
        margin: 0;
        font-size: 0.8em;
        color: rgba($color: #000000, $alpha: 0.6);
        overflow: hidden;
        line-height: 1em;
        max-height: 1em * 3;
    }
}
.notice-index {
    ul {
        list-style: none;
        padding: 1em;
        .material-icons,
        a {
            font-size: 1em;
            line-height: 1.5em;
            vertical-align: middle;
            color: #B71C1C;
        }
        .material-icons {
            color: #E53935;
            font-size: 1.3em;
        }
    }
}
.title_wrapper {
    padding: 0.3rem 0.4rem;
    .title {
        margin: 0;
        margin-bottom: 0.5rem;
        font-size: 1.3em;
    }
    .category {
        font-size: 0.9em;
        font-weight: bold;
        color: rgba(#000, 0.68);
    }
    .date {
        font-size: 0.9em;
        font-weight: bold;
        color: rgba(#000, 0.68);
        float: right;
    }
}
.admin_wrapper {
    font-size: 1em;
    overflow: hidden;
    a {
        float: right;
        margin: 0 0.2rem;
    }
    .material-icons {
        font-size: 1em;
        margin-left: 0;
        margin-right: 0.5rem;
        line-height: 1.3em;
    }
    .state {
        padding: 0 0.15rem;
        float: left;
        text-decoration: none;
        border-radius: 0.2rem;
        border: #AAA solid 1px;
    }
}
.toc_wrapper {
    border-top: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
    margin: 0.3rem 0;
    padding: 0.3rem 0.4rem;
    ul {
        list-style: none;
        padding: 0;
        padding-bottom: 0.4rem;
        margin: 0;
    }
    li {
        padding-top: 0.4rem;
    }
    li.H1 {
        font-weight: bold;
    }
    li.H2 {}
    li.H3 {
        padding-left: 1rem;
        a {color: rgba(#000, 0.68);}
    }
}
.tag_wrapper {
    padding: 0.3rem 0.4rem;
    .material-icons {
        font-size: 1.1em;
        color: rgba(0,0,0,0.6);
    }
}
.comment_wrapper {
    padding: 0.3rem 0.4rem;
    .title {
        font-size: 1em;
        margin: 0.3rem 0;
        margin-bottom: 0.4rem;
    }
    .material-icons {
        font-size: 1.1em;
        color: rgba(0,0,0,0.6);
    }
}
.comment-write {
    padding: 0.3rem 0.5rem;
    overflow: hidden;
    .secret {
        width: 5.1em;
        height: 1.3em;
        background: #D7CCC8;
        margin: 0.5rem 0;
        position: relative;
        border-radius: 50px;
        box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
        &:after {
            content: '공개';
            color: #0277BD;
            position: absolute;
            right: 10px;
            z-index: 0;
            font-size: 0.8em;
            line-height: 1.5em;
            font-weight: bold;
            text-shadow: 1px 1px 0px rgba(255,255,255,.15);
        }
        &:before {
            content: '비밀';
            color: #D32F2F;
            position: absolute;
            left: 10px;
            z-index: 0;
            font-size: 0.8em;
            line-height: 1.5em;
            font-weight: bold;
            text-shadow: 1px 1px 0px rgba(255,255,255,.15);
        }
        label {
            display: block;
            width: 2.2em;
            height: 1em;
            cursor: pointer;
            position: absolute;
            top: 0.15em;
            left: 0.2em;
            z-index: 1;
            background: #fcfff4;
            background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
            border-radius: 50px;
            transition: all 0.4s ease;
            box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
        }
        input[type=checkbox] {
            visibility: hidden;
            &:checked + label {
            left: 43px;
            }
        }    
    }
    .submit {
        float: right;
        width: 6em;
    }
}
.comment-index {
    list-style: none;
    margin: 0;
    padding: 0;
    ol {
        list-style: none;
        padding: 0;
    }
    .list_wrapper {
        margin-bottom: 0.4rem;
        border-bottom: #AAAAAA dashed 1px;
        padding-top: 0.3rem;
    }
    .list_wrapper.sub {
        padding-left: 1rem;
        border-left: 3px #AAAAAA solid;
    }
    .name {
        display: block;
        font-weight: bold;
        font-size: 0.9em;
    }
    .date {
        display: block;
        font-size: 0.8em;
        font-weight: bold;
        color: rgba($color: #000000, $alpha: 0.36);
        a {
            float: right;
            margin-right: 0.2rem;
        }
    }
    .desc {
        color: rgba($color: #000000, $alpha: 0.75);
        font-size: 0.9em;
    }
    .toolbox {
        overflow: hidden;
    }
    .toolbox a{
        display: block;
        float: right;
        font-size: 0.8em;
        font-weight: bold;
        margin: 0.3rem;
    }
    .tistoryProfileLayerTrigger {
        display: none;
    }
}
.related_wrapper {
    margin-top: 1rem;
    padding: 0.3rem 0.3rem;
    .title {
        margin: 0;
        font-size: 1em;
    }
    .list {
        list-style: none;
        margin: 0;
        padding: 0;
        .item {
            padding: 0;
            padding-top: 0.4rem;
        }
        .title {
            font-size: 0.9em;
        }
        .date {
            float: right;
            font-size: 0.9em;
            color: rgba($color: #000000, $alpha: 0.36)
        }
    }
    .material-icons {
        font-size: 1.8em;
        color: rgba(0,0,0,0.6);
        vertical-align: bottom;
        line-height: 0.6em;
    }
}
.taglog {
    padding: 0.7rem 0.4rem;
    ul {
        padding: 0;
    }
    li {
        display: inline-block;
        margin: 0.2rem;
        padding: 0.3rem 0.4rem;
        border-radius: 0.2rem;
        border: rgba(0,0,0,0.16) 1px solid;
    }
    .cloud1 {color: rgba(#000, 0.16);}
    .cloud2 {color: rgba(#000, 0.34);}
    .cloud3 {color: rgba(#000, 0.60);}
    .cloud4 {color: rgba(#000, 0.72);}
    .cloud5 {color: rgba(#000, 0.86);}
}
.list_paging {
    text-align: center;
    overflow: hidden;
    line-height: 1.5em;
    a {
        font-weight: bold;
        display: inline-block;
        padding: 0.1rem 0.3rem;
        height: 1.5em;
        line-height: 1.5em;
        vertical-align: middle;
    }
    .number .selected,
    .no-more-next,
    .no-more-prev {
        color: rgba(#000, 0.34);
    }
}
.guestbook {
    padding: 0.4rem 0.3rem;
    input[type=submit] {
        width: 100%;
    }
    textarea {
        margin-top: 0.4rem;
    }
    ul {
        list-style: none;
        padding: 0;
    }
    .name {
        display: block;
        font-weight: bold;
        font-size: 0.9em;
    }
    .date {
        display: block;
        font-size: 0.8em;
        font-weight: bold;
        color: rgba($color: #000000, $alpha: 0.36);
        a {
            float: right;
            margin-right: 0.2rem;
        }
    }
    .desc {
        color: rgba($color: #000000, $alpha: 0.75);
        font-size: 0.9em;
    }
    .toolbox {
        overflow: hidden;
    }
    .toolbox a{
        display: block;
        float: right;
        font-size: 0.8em;
        font-weight: bold;
        margin: 0.3rem;
    }
    .tistoryProfileLayerTrigger {
        display: none;
    }
    ul.reply li{
        padding-left: 1rem;
        border-left: 3px #AAAAAA solid;
    }
}
.protected {
    .protected_wrapper input[type=submit] {
        width: 100%;
    }
}

/* LAYOUT::ARTICLE::RESPOND */
@include respond-to("m") {
    .index_item.article_item {
        grid-template-columns: auto 1fr;
        grid-template-areas:
        "title title" "category category" "thumbnail desc";
        column-gap: 0.4rem;
        .thumbnail {
            height: 4.5em;
            width: 6em;
        }
        .desc {
            max-height: 5em;
        }
    }
    .comment-write {
        input[type=text],
        input[type=password] {
            width: 49%;
        }
        textarea {
            min-height: 3.5em;
        }
    }
}
@include respond-to("l") {
    .index_item {
        row-gap: 0.3rem;
    }
    .index_item.article_item {
        grid-template-columns: auto 1fr;
        grid-template-areas:
        "title title" "category category" "thumbnail desc";
        column-gap: 0.4rem;
    }
    .index_item .category {
        font-size: 1em;
    }
    .index_item .thumbnail {
        height: 7.5em;
        width: 11em;
    }
    .index_item .desc {
        max-height: 8em;
        font-size: 1em;
    }
    .comment-write {
        input[type=text],
        input[type=password] {
            width: 32%;
        }
        textarea {
            min-height: 3.5em;
        }
    }
}

/* Document */
.document {
    padding: 0.3rem 0.4rem;
    word-break: break-all;
    line-height: 1.4em;
    font-size: 1em;
    ul {
        padding-left: 1.5em;
        list-style-position: outside;
        list-style-type: square;
    }
    ol {
        padding-left: 1.5em;
        list-style-position: outside;
    }
    h1 {
        font-size: 1.3em;
        text-align: center;
    }
    h2 {
        font-size: 1.3em;
    }
    h3 {
        font-size: 1em;
    }
    blockquote {
        margin: 1em 0;
        border-left: 6px #43A047 solid;
        padding: 0.01em 0;
        padding-left: 1em;
        background: rgba(#000, 0.1);
        border-top-right-radius: 0.4em;
        border-bottom-right-radius: 0.4em;
    }
    figcaption {
        padding: 0;
        font-weight: bold;
        color: #888;
    }
    p>img {
        margin: auto;
        display: block;
    }
    a {
        color: #7B1FA2;
    }
    code {
        padding: 0.15rem 0.2rem;
        font-size: 0.9em;
        border-radius: 4px;
        background: #EEE;
        vertical-align: middle;
    }
    .container_postbtn {
        padding: 0.7em 0;
    }
    .tt-sns-wrap {
        float: right;
    }
    ul.directory {
        list-style: none;
        ul.sub {
            list-style: none;
            li {
                position: relative;
                padding-left: 0.3rem;
            }
            li:before {
                content: "";
                position: absolute;
                left: - 0.7em;
                top: 0;
                bottom: 0;
                background: #AAA;
                width: 2px;
            }
            li:last-child:before {
                bottom: unset;
                height: 0.6em;
            }
            li:after {
                content: "";
                position: absolute;
                left: -0.7em;
                top: 0.6em;
                height: 2px;
                width: 0.7em;
                background: #AAA;
            }
        }
        .material-icons {
            vertical-align: middle;
            font-size: 1.6em;
        }
    }
}

/* Extentions */
.ss_codeblock_ext {
    position: relative;
    overflow: inherit;
    code {
        padding-top: 2em;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
}
.ss_codeblock_menubar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1.7em;
    font-size: 0.8em;
    padding: 0.1em 0.3rem;
    background: rgba(#FFF, 0.7);
    .icon {
        margin-right: 0.3rem;
    }
}
